@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

$MainBG: hsl(217, 54%, 11%);
$CardBG: hsl(216, 50%, 16%);
$TextWhite: hsl(0, 0%, 100%);
$FontBlue: hsl(215, 32%, 27%);
$FontLight: hsl(215, 32%, 42%);
$FontSize: 18px;
$Hover: #00FFF8;

body {
    margin: 0;
    padding: 0;
    font-size: $FontSize;
}
* {
    box-sizing: border-box;
}

.Main {
    background-color: $MainBG;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    .Card {
        max-width: 350px;
        width: 100%;
        height: auto;
        border-radius: 15px;
        background-color: $CardBG;
        z-index: 3;
        box-shadow: 10px 10px 28px #000;
        padding: 30px;

        &__image {
            width: 100%;
            height: auto;
            margin-bottom: 60px;

            &__avatar {
                width: 100%;
                border-radius: 10px;
                object-fit: contain;
                opacity: 1;
                backface-visibility: hidden;
                transition: .5s ease;
            }

            &__overlay {
                transition: .5s ease;
                transform: translate(-50%, -50%);
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                height: auto;
                top: -60%;
                left: 50%;
                background-color: $Hover;
                border-radius: 10px;

                &__view {
                    background-color: inherit;
                }
            }
        }

        &__image:hover .Card__image__avatar {
            opacity: 0.25;
            cursor: pointer;
        }
        
        &__image:hover .Card__image__overlay {
            opacity: 0.5;
            cursor: pointer;
        } 

        &__title {
            width: fit-content;
            text-align: center;

            &__header {
                font-family: 'Outfit';
                color: $TextWhite;
                font-weight: 600;
                line-height: normal;
            }
            &__header:hover {
                font-family: 'Outfit';
                color: $Hover;
                cursor: pointer;
                font-weight: 600;
                line-height: normal;
            }
        }

        &__body {
            width: 100%;
            height: auto;
            text-align: left;
            
            &__text {
                font-family: 'Outfit';
                color: $FontLight;
                font-weight: 400;
                font-size: 14px;
            }

            &__flex {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                top: -10px;

                &__eth {
                    color: #00FFF8;
                    font-family: 'Outfit';
                    font-weight: 400;
                }

                &__clock {
                    color: $FontLight;
                    font-family: 'Outfit';
                    font-weight: 400;
                }
            }
        }

        &__divider {
            width: 100%;
            height: 1.5px;
            background-color: $FontBlue;
        }

        &__footer {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            top: 10px;

            &__image {
                width: 40px;
                border: 1px solid $TextWhite;
                border-radius: 50px;
                margin-right: 15px;
            }

            &__author {
                font-family: 'Outfit';
                font-weight: 400;
                color: $FontLight;

                &--name {
                    color: $TextWhite;
                }
                &--name:hover {
                    color: $Hover;
                    cursor: pointer;
                }
            }
        }
    }

    &__footer { 
        font-family: 'Outfit';
        font-size: 11px; 
        text-align: center;
        margin-top: 30px;
        color: $FontLight;

        &__link { 
            color: hsl(228, 45%, 44%); 
            text-decoration: none;
        }
    }
}

@media (max-width: 380px) {
    .Main {
        background-color: $MainBG;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    
        .Card {
            width: 300px;
            height: 85vh;
            border-radius: 15px;
            background-color: $CardBG;
            z-index: 3;
            box-shadow: 10px 10px 28px #000;
            padding: 20px;

            &__image {
                width: 100%;
                height: 200px;
                margin-bottom: 80px;

                &__avatar {
                    width: 100%;
                    border-radius: 7px;
                    object-fit: contain;
                    opacity: 1;
                    backface-visibility: hidden;
                    transition: .5s ease;
                }

                &__overlay {
                    transition: .5s ease;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 100%;
                    height: 260px;
                    top: -66%;
                    left: 50%;
                    background-color: $Hover;
                    border-radius: 7px;

                    &__view {
                        background-color: inherit;
                    }
                }            
            }

        }
    }
}