@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
}

.Body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f1424;
}

.Grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-columns: 200px 600px;
      grid-template-columns: 200px 600px;
  -ms-grid-rows: 440px;
      grid-template-rows: 440px;
}

.Grid__report {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 290px 220px;
      grid-template-rows: 290px 220px;
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 3;
}

.Grid__report__author {
  background-color: #5847eb;
  border-radius: 15px;
}

.Grid__report__author__image {
  width: 50px;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  margin: 30px 0 20px 20px;
}

.Grid__report__author__text {
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #6f76c8;
  margin-bottom: -20px;
  margin-left: 20px;
}

.Grid__report__author__name {
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 32px;
  color: #bdc1ff;
  margin-left: 20px;
}

.Grid__report__tables {
  color: #6f76c8;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 15px;
  margin-left: 30px;
  height: 20px;
}

.Grid__report__table {
  color: #6f76c8;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 15px;
  margin-left: 30px;
  position: relative;
  top: -180px;
}

.Grid__report__table:hover, .Grid__report__tables:hover {
  color: #bdc1ff;
  cursor: pointer;
}

.Grid__cards {
  display: -ms-inline-grid;
  display: inline-grid;
  gap: 30px;
  -ms-grid-columns: 190px 190px 190px;
      grid-template-columns: 190px 190px 190px;
  -ms-grid-rows: 200px 200px;
      grid-template-rows: 200px 200px;
}

.Grid__cards__work {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 40px 170px;
      grid-template-rows: 40px 170px;
  background-color: #ff8c66;
  border-radius: 15px;
}

.Grid__cards__work--work {
  background-color: #ff8c66;
  border-radius: 15px;
}

.Grid__cards__work--work__svg {
  position: relative;
  left: 100px;
  top: 0;
}

.Grid__cards__work--time {
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
}

.Grid__cards__work--time__title {
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 600;
  color: #bdc1ff;
  margin-left: 20px;
}

.Grid__cards__work--time__ellip {
  font-family: 'Rubik';
  font-size: 10px;
  font-weight: 600;
  color: #6f76c8;
  position: relative;
  top: -35px;
  left: 140px;
}

.Grid__cards__work--time__ellip:hover {
  color: #bdc1ff;
  cursor: pointer;
}

.Grid__cards__work--time__hrs {
  font-family: 'Rubik';
  font-size: 58px;
  font-weight: 300;
  color: whitesmoke;
  position: relative;
  top: -80px;
  left: 20px;
}

.Grid__cards__work--time__ltw {
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 300;
  color: #bdc1ff;
  position: relative;
  top: -130px;
  left: 20px;
}

.Grid__cards__work--time:hover {
  background-color: #6f76c8;
  cursor: pointer;
}

.Grid__cards__play {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 40px 170px;
      grid-template-rows: 40px 170px;
  background-color: #56c2e6;
  border-radius: 15px;
}

.Grid__cards__play--play {
  background-color: #56c2e6;
  border-radius: 15px;
}

.Grid__cards__play--play__svg {
  position: relative;
  left: 100px;
  top: 0;
}

.Grid__cards__play--time {
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
}

.Grid__cards__study {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 40px 170px;
      grid-template-rows: 40px 170px;
  background-color: #ff5c7c;
  border-radius: 15px;
}

.Grid__cards__study--study {
  background-color: #ff5c7c;
  border-radius: 15px;
}

.Grid__cards__study--study__svg {
  position: relative;
  left: 100px;
  top: 0;
}

.Grid__cards__study--time {
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
}

.Grid__cards__exercise {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 40px 170px;
      grid-template-rows: 40px 170px;
  background-color: #4acf81;
  border-radius: 15px;
}

.Grid__cards__exercise--exercise {
  background-color: #4acf81;
  border-radius: 15px;
}

.Grid__cards__exercise--exercise__svg {
  position: relative;
  left: 100px;
  top: 0;
}

.Grid__cards__exercise--time {
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
}

.Grid__cards__social {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 40px 170px;
      grid-template-rows: 40px 170px;
  background-color: #7536d3;
  border-radius: 15px;
}

.Grid__cards__social--social {
  background-color: #7536d3;
  border-radius: 15px;
}

.Grid__cards__social--social__svg {
  position: relative;
  left: 100px;
  top: 0;
}

.Grid__cards__social--time {
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
}

.Grid__cards__selfcare {
  display: -ms-grid;
  display: grid;
  row-gap: 0;
  -ms-grid-rows: 40px 170px;
      grid-template-rows: 40px 170px;
  background-color: #f1c65b;
  border-radius: 15px;
}

.Grid__cards__selfcare--selfcare {
  background-color: #f1c65b;
  border-radius: 15px;
}

.Grid__cards__selfcare--selfcare__svg {
  position: relative;
  left: 100px;
  top: 0;
}

.Grid__cards__selfcare--time {
  background-color: #1c1f4a;
  border-radius: 15px;
  z-index: 2;
}

@media (max-width: 380px) {
  .Body {
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0f1424;
  }
  .Grid {
    display: -ms-grid;
    display: grid;
    row-gap: 20px;
    -ms-grid-columns: 200px;
        grid-template-columns: 200px;
    -ms-grid-rows: 130px 130px 130px 130px 130px 130px 130px;
        grid-template-rows: 130px 130px 130px 130px 130px 130px 130px;
  }
  .Grid__report {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 80px 35px;
        grid-template-rows: 80px 35px;
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 3;
  }
  .Grid__report__author {
    background-color: #5847eb;
    border-radius: 15px;
  }
  .Grid__report__author__image {
    width: 40px;
    border: 2px solid whitesmoke;
    border-radius: 50px;
    margin: 20px 0 20px 16px;
  }
  .Grid__report__author__text {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #6f76c8;
    position: relative;
    top: -70px;
    left: 50px;
  }
  .Grid__report__author__name {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    color: #bdc1ff;
    position: relative;
    top: -60px;
    left: 50px;
  }
  .Grid__report__author__name--br {
    display: none;
  }
  .Grid__report__tables {
    color: #6f76c8;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    height: 20px;
  }
  .Grid__report__table {
    color: #6f76c8;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    margin-left: 30px;
    position: relative;
    top: -25px;
    left: 38px;
  }
  .Grid__report__table--mon {
    color: #6f76c8;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 15px;
    margin-left: 30px;
    position: relative;
    top: -63px;
    left: 100px;
  }
  .Grid__cards {
    display: -ms-inline-grid;
    display: inline-grid;
    row-gap: 30px;
    -ms-grid-columns: 200px;
        grid-template-columns: 200px;
    -ms-grid-rows: 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
  }
  .Grid__cards__work {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 30px 85px;
        grid-template-rows: 30px 85px;
    background-color: #ff8c66;
    border-radius: 15px;
  }
  .Grid__cards__work--work {
    background-color: #ff8c66;
    border-radius: 15px;
  }
  .Grid__cards__work--work__svg {
    position: relative;
    left: 100px;
    top: 0;
  }
  .Grid__cards__work--time {
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 2;
  }
  .Grid__cards__work--time__title {
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 600;
    color: #bdc1ff;
    margin-left: 20px;
  }
  .Grid__cards__work--time__ellip {
    font-family: 'Rubik';
    font-size: 10px;
    font-weight: 600;
    color: #6f76c8;
    position: relative;
    top: -35px;
    left: 140px;
  }
  .Grid__cards__work--time__ellip:hover {
    color: #bdc1ff;
    cursor: pointer;
  }
  .Grid__cards__work--time__hrs {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 300;
    color: whitesmoke;
    position: relative;
    top: -50px;
    left: 20px;
  }
  .Grid__cards__work--time__ltw {
    font-family: 'Rubik';
    font-size: 10px;
    font-weight: 300;
    color: #bdc1ff;
    position: relative;
    top: -92px;
    left: 100px;
  }
  .Grid__cards__work--time:hover {
    background-color: #6f76c8;
    cursor: pointer;
  }
  .Grid__cards__play {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 30px 85px;
        grid-template-rows: 30px 85px;
    background-color: #56c2e6;
    border-radius: 15px;
  }
  .Grid__cards__play--play {
    background-color: #56c2e6;
    border-radius: 15px;
  }
  .Grid__cards__play--play__svg {
    position: relative;
    left: 100px;
    top: 0;
  }
  .Grid__cards__play--time {
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 2;
  }
  .Grid__cards__study {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 30px 85px;
        grid-template-rows: 30px 85px;
    background-color: #ff5c7c;
    border-radius: 15px;
  }
  .Grid__cards__study--study {
    background-color: #ff5c7c;
    border-radius: 15px;
  }
  .Grid__cards__study--study__svg {
    position: relative;
    left: 100px;
    top: 0;
  }
  .Grid__cards__study--time {
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 2;
  }
  .Grid__cards__exercise {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 30px 85px;
        grid-template-rows: 30px 85px;
    background-color: #4acf81;
    border-radius: 15px;
  }
  .Grid__cards__exercise--exercise {
    background-color: #4acf81;
    border-radius: 15px;
  }
  .Grid__cards__exercise--exercise__svg {
    position: relative;
    left: 100px;
    top: 0;
  }
  .Grid__cards__exercise--time {
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 2;
  }
  .Grid__cards__social {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 30px 85px;
        grid-template-rows: 30px 85px;
    background-color: #7536d3;
    border-radius: 15px;
  }
  .Grid__cards__social--social {
    background-color: #7536d3;
    border-radius: 15px;
  }
  .Grid__cards__social--social__svg {
    position: relative;
    left: 100px;
    top: 0;
  }
  .Grid__cards__social--time {
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 2;
  }
  .Grid__cards__selfcare {
    display: -ms-grid;
    display: grid;
    row-gap: 0;
    -ms-grid-rows: 30px 85px;
        grid-template-rows: 30px 85px;
    background-color: #f1c65b;
    border-radius: 15px;
  }
  .Grid__cards__selfcare--selfcare {
    background-color: #f1c65b;
    border-radius: 15px;
  }
  .Grid__cards__selfcare--selfcare__svg {
    position: relative;
    left: 100px;
    top: 0;
  }
  .Grid__cards__selfcare--time {
    background-color: #1c1f4a;
    border-radius: 15px;
    z-index: 2;
  }
}
/*# sourceMappingURL=styles.css.map */